.category-label-headings {
  left: 12.5%;
  right: 79.69%;
  top: 9.02%;
  bottom: 88.28%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #0284c7;
}
