.not-found-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back-to-home-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;

  width: 164px;
  height: 48px;

  background: #0284c7;
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  border-width: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* Light / base / white */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.not-found-description {
  left: 31.18%;
  right: 31.11%;
  top: 62.11%;
  bottom: 31.64%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  text-align: center;

  /* Light / blue-gray / 600 */

  color: #475569;
}
.not-found-heading {
  left: 41.53%;
  right: 41.46%;
  top: 56.25%;
  bottom: 39.06%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Light / blue-gray / 700 */

  color: #334155;
}
.link-button {
  text-decoration: none;
}
